.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: #22242c;
    -fx-background-radius: 0em;
    -fx-padding: 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: none;
    -fx-padding: 0;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    /*-fx-background-color: #22242c;*/
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 10;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #424753;
    -fx-background-radius: 1em;
}

.scroll-pane > .corner {
    -fx-background-color: #22242c;
}